<!-- <h1>angular project</h1>
<h2>first method</h2>
<button (click)="getdata('vivek')">on click</button>
<br><br>
<input type="text" #box1 (keyup)="getdata(box1.value)" placeholder="Keyup"><br><br>
<input type="text" #box2 (keyup)="getdata(box2.value)" placeholder="keypress">
 <h2>second method</h2>
<br><br>
<input type="text" placeholder="enter the name" #box3 (keyup)="getvalue(box3.value)"><br><br>
<span>Show result : {{displayvalue}}</span>


<h2>make a count function</h2>
<button (click)="counts('add')">++</button><br><br>
<span>{{count}}</span><br><br>
<button (click)="counts('sub')">--</button> -->
<router-outlet></router-outlet>
<app-dashboard></app-dashboard>

